{% extends 'base.html' %}
{% block title %}
    {{ user_obj.username }}
{% endblock %}

{% block menu %}
    {% if user_obj == request.user %}
    <li><a class="nav-item nav-link" href="#">Edit</a></li>
    <li><a class="nav-item nav-link" href="#">Edit password</a></li>
     {% endif %}
{% endblock %}

{% block content %}
    <h1>Profile: <b>{{ user_obj.username }}</b></h1>
    <p>First name: {{ user_obj.first_name }} </p>
    <p>Last name: {{ user_obj.last_name  }}</p>
    <p>Email: {{ user_obj.email }}</p>

{% endblock %}