{% extends 'base.html' %}
{% block title %}
    {{ user_obj.username }}
{% endblock %}

{% block menu %}
    {% if user_obj == request.user %}
    <li><a class="nav-item nav-link" href="{% url 'accounts:user_detail' user_obj.pk %}">Profile View</a></li>
    <li><a class="nav-item nav-link" href="#">Edit password</a></li>
     {% endif %}
{% endblock %}

{% block content %}
    <h1>Edit Profile: <b>{{ user_obj.username }}</b></h1>
    <form action="{% url 'accounts:user_update' user_obj.pk %}" method="post">
        {% include 'partial/project_cu.html' with button_text="Update" %}
    </form>
{% endblock %}