{% extends 'base.html' %}
{% {% load staticfiles %}
{% block title %}
    {{ user_obj.username }}
{% endblock %}

{% block menu %}
    {% if user_obj == request.user %}
    <li><a class="nav-item nav-link" href="{% url 'accounts:user_update' user_obj.pk %}">Edit</a></li>
    <li><a class="nav-item nav-link" href="{% url 'accounts:user_change_password' user_obj.pk %}">Change Password</a></li>
     {% endif %}
{% endblock %}

{% block content %}
    {% if user_obj.user_link.profile_photo %}
        <img class="avatar" src="{{ user_obj.user_link.profile_photo.url }}" width="250" height="250" alt="user picture">
        {% else %}
        <img class="avatar" src="{% static 'pictures/Screenshot from 2019-09-23 01-46-05.png' %}" width="250" height="250" alt="user picture">
    {% endif %}
    <h1>Profile: <b>{{ user_obj.username }}</b></h1>
    <p>First name: {{ user_obj.first_name }}</p>
    <p>Last name: {{ user_obj.last_name }}</p>
    <p>About: {{ user_obj.user_link.about }}</p>
    <p>Email: {{ user_obj.email }}</p>
    {% if user_obj.user_link.link %}
        <p>GitGub: <a href="{{ user_obj.user_link.link }}">{{ user_obj.user_link.link }}</a></p>
    {% endif %}
{% endblock %}