{% extends 'base.html' %}
{% block title %}
    {{ user_obj.username }}
{% endblock %}

{% block menu %}
    {% if user_obj == request.user %}
    <li><a class="nav-item nav-link" href="{% url 'accounts:user_detail' user_obj.pk %}">Profile View</a></li>
    <li><a class="nav-item nav-link" href="{% url 'accounts:user_change_password' user_obj.pk %}">Change Password</a></li>
     {% endif %}
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:user_update' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with button_text="Update" %}
</form>
{% endblock %}