{% extends 'base.html' %}

{% block title %} Type {% endblock %}

{% block content %}
    {% for typ in type %}<br/>
        <p>Type: {{ typ.type }}<br/>
            {% if request.user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'issuetracker:type_update' typ.pk %}">Update</a></p>
            {% endif %}
        <form method="get" action="{% url 'issuetracker:type_delete' typ.pk %}">

            {% csrf_token %}

            {% if request.user.is_authenticated %}
                <button class="btn btn-danger" type="submit">Delete</button>
            {% endif %}
        </form>

    {% endfor %}
    <br/>
    {% if request.user.is_authenticated %}
        <small>Add Type</small>
        <a class="btn btn-success" class="nav-item nav-link" href="{% url 'issuetracker:type_add' %}">Add</a>
    {% endif %}

{% endblock %}
