{% extends 'base.html' %}

{% block title %}
    Tracker Tasks
{% endblock %}

{% block content %}
    {% include 'partial/simple_search.html' %}
    <br/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    {% for task in tasks %}
    <div class="jumbotron">
        <h1 class="display-4">{{ task.summary}}</h1>
        <hr class="my-4">
        <p>{{ task.description }}</p>
        <p>Status: {{ task.status }}
        Type: {{ task.type }}</p>
        <a href="{% url 'issuetracker:task_detail' task.pk %}">More...</a>
        <form method="get" action="{% url 'issuetracker:task_delete' task.pk %}">

            {% csrf_token %}

            {% if request.user.is_authenticated %}
                <button class="btn btn-danger" type="submit">Delete</button>
            {% endif %}
        </form>
    </div>
{% endfor %}
    <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <br/>
{% endblock %}

