{% extends 'base.html' %}
{% block title %}Task Detail{% endblock %}

{% block menu %}
    <a class="nav-item nav-link active" href="{% url 'task_update' task.pk %}">Edit<span class="sr-only">(current)</span></a>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ task.summary}}</h1>
        <p class="lead">{{ task.description }}</p>
        <hr class="my-4">
        <p>Status: {{ task.status }}
        Type: {{ task.type }}</p>
    </div>
{% endblock %}