<div class="pagination">
    <span class="step-links">
        <a href="?{% if query %}{{ query }}&{% endif %}page=1">&laquo; Beginning</a>
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Back</a>
        {% else %}
            <span class="page-disabled">Back</span>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <span class="page-disabled">Next</span>
        {% endif %}
        <a href="?{% if query %}{{ query }}&{% endif %}page={{ paginator.num_pages }}">End &raquo;</a>

        {% for page in paginator.page_range %}

        <a href="?{% if query %}{{ query }}&{% endif %}page={{ page }}">{{ page }}</a>

        {% endfor %}
    </span>
</div>