{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    {% for i in project %}
        <h6> {{i}} </h6>
        <div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" checked> Update
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" autocomplete="off"> Delete
            </label>
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'project_detail' i.pk %}">More..</a>
            </label>
        </div>
    {% endfor %}
    <br/>
    <small>Add Project</small>
    <br/>
    <a class="btn btn-success" class="nav-item nav-link" href="{% url 'project_create' %}">Add Project</a>
{% endblock %}