{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    <hr>
    {% for i in project %}
        <h6> {{i}} </h6>
        <div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'project_update' i.pk %}">Update</a>
            </label>
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'project_delete' i.pk %}">Delete</a>
            </label>
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'project_detail' i.pk %}">More..</a>
            </label>
        </div>
    {% endfor %}
    <br/>
    <div>
    </div>
    <hr/>
    <small>Add Project</small>
    <br/>
    <a class="btn btn-success" href="{% url 'project_create' %}">Add Project</a>
{% endblock %}