{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    {% include 'partial/simple_search.html' %}
    <hr>
    {% for i in project %}
        <h6> {{i}} </h6>
        <div class="btn-group btn-group-toggle">
        {% if request.user.is_authenticated %}
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'issuetracker:project_update' i.pk %}">Update</a>
            </label>
        {% endif %}

        {% if request.user.is_authenticated %}
            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'issuetracker:project_delete' i.pk %}">Delete</a>
            </label>
        {% endif %}

            <label class="btn btn-secondary">
                <a class="btn btn-secondary" href="{% url 'issuetracker:project_detail' i.pk %}">More..</a>
            </label>

        </div>
    {% endfor %}
    <br/>
    <div>
    </div>
    <hr/>

    {% if perms.issuetracker.add_project %}
    {% if request.user.is_authenticated %}
        <small>Add Project</small>
    <br/>
        <a class="btn btn-success" href="{% url 'issuetracker:project_create' %}">Add Project</a>
    {% endif %}
    {% endif %}

{% endblock %}