{% extends 'base.html' %}

{% block title %} Status {% endblock %}

{% block content %}
    {% for stat in status%}<br/>
        <p>Status: {{ stat.status }}<br/>
            {% if request.user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'issuetracker:status_update' stat.pk %}">Update</a></p>
            {% endif %}
        <form method="get" action="{% url 'issuetracker:status_delete' stat.pk %}">

            {% csrf_token %}

            {% if request.user.is_authenticated %}
                <button class="btn btn-danger" type="submit">Delete</button>
            {% endif %}
        </form>


    {% endfor %}
    <br/>
    {% if request.user.is_authenticated %}
        <small>Add Status</small>
        <a class="btn btn-success" href="{% url 'issuetracker:status_add' %}">Add</a>
    {% endif %}
{% endblock %}


