{% extends 'base.html' %}

{% block content %}
    {% for task in tasks %}
    <div class="jumbotron">
        <h1 class="display-4">{{ task.summary}}</h1>
        <hr class="my-4">
        <p>{{ task.description }}</p>
        <p>Status: {{ task.status }}
        Type: {{ task.type }}</p>
        <a href="{% url 'task_detail' task.pk %}">More...</a>
        <form method="post" action="{% url 'task_delete' task.pk %}">

            {% csrf_token %}

            <button type="submit">Delete</button>
        </form>
    </div>
{% endfor %}
{% endblock %}